@using BEL.DCRDCNWorkflow.Models.DCN
@using BEL.CommonDataContract;
@model RevisedApplicableDocuments


<div class="modal fade" id="addeditRevisedAppDocModel" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    @if (Model.Index > 0)
                    {
                        <span>
                            @Html.ResourceValue("Popup_Title_EditRevisedAppDoc", ResourceNames.DCN)
                        </span>
                    }
                    else
                    {
                        <span>
                            @Html.ResourceValue("Popup_Title_AddRevisedAppDoc", ResourceNames.DCN)
                        </span>
                    }
                </h4>
            </div>
            @using (Ajax.BeginForm("SaveRevisedAppDoc", "DCN", new AjaxOptions
            {
                HttpMethod = "POST",
                LoadingElementId = "loading",
                OnFailure = "OnFailure",
                OnSuccess = "OnRevisedAppDocaddSuccess",
                OnBegin = "BeginClient"
            }, new { enctype = "multipart/form-data", id = "frmSaveRevisedAppDoc" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.RequestBy)                
                @Html.HiddenFor(m => m.RequestID)
                @Html.HiddenFor(m => m.ID)
                @Html.HiddenFor(m => m.Index)
                @Html.HiddenFor(m => m.ItemAction)


                <div class="modal-body form-horizontal" id="divRevisedAppDocSection">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="FileNameList" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.FileNameList, ResourceNames.DCN):
                                </label>
                                <div class="col-md-8 ">
                                    <div id="AttachFile" data-appname="@SiteURLs.DCRDCNSITEURL">
                                    </div>
                                    @Html.TextBoxFor(m => m.FileNameList, new { @class = "notvisible" })
                                    @Html.TextBoxFor(m => m.DocumentNo, new { maxlength = 255, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DocumentNo, ResourceNames.DCN)
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="DocumentTitle" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.DocumentTitle, ResourceNames.DCN)
                                </label>
                                <div class="col-md-8 ">
                                    @Html.TextBoxFor(m => m.DocumentTitle, new { maxlength = 255, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.DocumentTitle, ResourceNames.DCN)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label id="RevisionNo" for="exampleInputEmail1" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.RevisionNo, ResourceNames.DCN):
                                </label>
                                <div class="col-md-8 ">
                                    @Html.TextBoxFor(m => m.RevisionNo, new { maxlength = 255, @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.RevisionNo, ResourceNames.DCN)
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="RequestDate" class="col-md-4 control-label">
                                    <span class="text-danger text-default-light">*</span>
                                    @Html.LabelFor(m => m.RequestDate, ResourceNames.DCN):
                                </label>
                                <div class="col-md-8 ">
                                    <div class='input-group date datepicker'>
                                        @Html.TextBoxFor(m => m.RequestDate, "{0:dd/MM/yyyy}", new { @class = "form-control" })
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
                                    @Html.ValidationMessageFor(m => m.RequestDate, ResourceNames.DCN)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="OnModelSubmit(this.form.id)">@Html.ResourceValue("Button_Text_Save", ResourceNames.Common)</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        @Html.ResourceValue("Button_Text_Close", ResourceNames.Common)
                    </button>
                </div>
            }

        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#addeditRevisedAppDocModel").modal().on('shown.bs.modal', function () {
            BindDatePicker("#addeditRevisedAppDocModel");
            BindFileUploadControl({
                ElementId: 'AttachFile', Params: {}, Url: "UploadFile",
                AllowedExtensions: [],
                maxFiles: 1,
                CallBack: "OnFileUploaded"
            });
            uploadedFiles = BindFileList("FileNameList", "AttachFile");
            $.validator.unobtrusive.parsePopup("#addeditRevisedAppDocModel");
        });
    });
</script>


 