@using BEL.DCRDCNWorkflow.Models.Master
@using BEL.CommonDataContract
@using BEL.DCRDCNWorkflow.Models.DCN
@model DCNQAInchargeSection
@using (Ajax.BeginForm("SaveQAInchargeSection", "DCN", new AjaxOptions
    {
        HttpMethod = "POST",
        LoadingElementId = "loading",
        OnFailure = "OnFailure",
        OnSuccess = "OnSuccess",
        OnBegin = "BeginClient"
    }, new { enctype = "multipart/form-data" }))
{

    @Html.HiddenFor(m => m.ListDetails[0].ItemId)
    @Html.HiddenFor(m => m.ListDetails[0].ListName)
    @Html.HiddenFor(m => m.SectionName)
    @Html.HiddenFor(m => m.ActionStatus)
    @Html.HiddenFor(m => m.Status)
    @Html.HiddenFor(m => m.QADateofApproval)
    @Html.Partial("_ApproversList", Model.ApproversList)
    @Html.Partial("_CurrentApprover", Model.CurrentApprover ?? new ApplicationStatus())
    @Html.AntiForgeryToken()

    <div class="form-horizontal" >
    @Html.Partial("_qaVendorGrid", Model.VendorDCNList)
        
    </div>
}
